/새 폴더/.idea/shelf/.xml
/새 폴더/.idea/sonarlint/issuestore/4/d/4d66d494024a785d3d60070339be67cb69da6d38
/새 폴더/.idea/sonarlint/securityhotspotstore/4/d/4d66d494024a785d3d60070339be67cb69da6d38
/새 폴더/files/5_17_menu.png
/새 폴더/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/새 폴더/.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/새 폴더/.idea/sonarlint/issuestore/9/d/9d61e5c98e1e839c800ae3d96bae55e3f43a5abe
/새 폴더/.idea/sonarlint/securityhotspotstore/9/d/9d61e5c98e1e839c800ae3d96bae55e3f43a5abe
/새 폴더/.idea/sonarlint/issuestore/9/e/9e1c19bd1b87ad84b70a7c1f0967f82fe4ca633d
/새 폴더/.idea/sonarlint/securityhotspotstore/9/e/9e1c19bd1b87ad84b70a7c1f0967f82fe4ca633d
/새 폴더/.idea/shelf/2023-05-16__3_57__________.xml
/새 폴더/.idea/sonarlint/issuestore/a/9/a97862aef7e9bebdb3f0ff575df306dbd626be2c
/새 폴더/.idea/sonarlint/securityhotspotstore/a/9/a97862aef7e9bebdb3f0ff575df306dbd626be2c

/새 폴더/.idea/sonarlint/issuestore/index.pb
/새 폴더/.idea/sonarlint/securityhotspotstore/index.pb
/새 폴더/.idea/inspectionProfiles/profiles_settings.xml
/새 폴더/.idea/inspectionProfiles/Project_Default.xml
/새 폴더/README.md
/새 폴더/.idea/shelf/2023-05-16_오후_3_57,_업데이트_전에_커밋되지_않은_변경_내용_[변경]/shelved.patch
/새 폴더/.idea/shelf/2023-05-16_오후_3_57,_업데이트_전에_커밋되지_않은_변경_내용_[변경]1/shelved.patch
/새 폴더/.idea/shelf/변경/shelved.patch
/새 폴더/files/template.xlsx
/새 폴더/test.py
/새 폴더/test2.py
/새 폴더/.idea/shelf/2023-05-16_오후_3_57,_업데이트_전에_커밋되지_않은_변경_내용_[변경]/shelved.patch
/새 폴더/.idea/shelf/2023-05-16_오후_3_57,_업데이트_전에_커밋되지_않은_변경_내용_[변경]1/shelved.patch
